[project]
	description = Clojurescript running on lua ! In construction
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raphaël AMIARD (raph-amiard)
[access "refs/for/refs/*"]
	read = group user/Raphaël AMIARD (raph-amiard)
	push = group user/Raphaël AMIARD (raph-amiard)
	label-Code-Review = -2..+2 group user/Raphaël AMIARD (raph-amiard)
	label-Verified = -1..+1 group user/Raphaël AMIARD (raph-amiard)
	rebase = group user/Raphaël AMIARD (raph-amiard)
	removeReviewer = group user/Raphaël AMIARD (raph-amiard)
	submit = group user/Raphaël AMIARD (raph-amiard)
[access "refs/heads/*"]
	read = group user/Raphaël AMIARD (raph-amiard)
	create = group user/Raphaël AMIARD (raph-amiard)
	push = +force group user/Raphaël AMIARD (raph-amiard)
	pushMerge = group user/Raphaël AMIARD (raph-amiard)
[access "refs/tags/*"]
	push = +force group user/Raphaël AMIARD (raph-amiard)
	pushTag = group user/Raphaël AMIARD (raph-amiard)
	pushSignedTag = group user/Raphaël AMIARD (raph-amiard)
